
$height:90px;
$width:60px;
$border:0px solid gary;
.cardItem{
    height: $height;
    display: flex;
    padding: 15px;
    .imageWrap{
        width: $width;
        border: 1px solid rgb(230, 222, 222);
        img{
            width: 100%;
            height: 100%;
            border: $border;
        }
    }
    .content{
        margin: 5px 15px 5px 10px;
        display: flex;
        flex: 1;
        justify-content: space-between;
        flex-direction: column;
        border: $border;
        .top{
            display: flex;
            .type{
                border-radius: 2px;
                height: 16px;
                font-size: 12px;
                color: #FFFFFF;
                padding: 0px 3px;
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: center;
            }
            .iconAlbum{
                background: #F5A623;
            }
            .iconAnchor{
                background: #FC5832;
            }
            .iconArtical{
                background: #7ED321;
            }
            .titleWrap{
                border: $border;
                flex: 1;
                width: 0px;
                align-items: center;
                overflow: hidden;
                margin-left: 5px;
            }
            .title{
                font-size: 14px;
                text-align: left;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .bottom{
            font-size: 12px;
            color: #999999;
        }
    }
    .link{
        display: flex;
        width: $width + 35px;
        display: flex;
        border: $border;
        justify-content: center;
        a{
            display: flex;
            flex: 1;
            justify-content: flex-end;
            align-items: center;
            font-size: 12px;
            text-decoration: none;
            color: #999999;
        }
    }
}
.highlight{
    background-color: rgba(239,239,239,0.8);
    .link{
        a{
            color:rgb(239, 60, 23);
        }
    }
}